@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Josefin+Sans:400,700|PT+Sans|Poiret+One|Raleway:400,700,900|Slabo+27px|Titillium+Web:400,700&subset=latin-ext');

html{
	margin:0;
	padding: 0;
	height: 100%; 
} 

body{
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
  height: 100%; 
/*	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #3c3c3c;
*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

a{
		text-decoration: none;
}

h1{
	margin: 10px 0 0 0;
	padding: 0;
}

h3{
	margin: 0;
	pedding: 0;
}

.show{
	display: block;
}

.hide, #toggle_hide, .hidden{
	display: none;
}

.center-text{
	text-align: center;
}

.white-text{
	color: #F5FFF7;
}

.flex{
	display: flex;
}

.flex1{
	-ms-flex: 1; /* IE 10 */
  flex: 1;
}

.flex2{
	-ms-flex: 2; /* IE 10 */
  flex: 2;
}

.container{
	padding: 100px 0;
	width: 68%;
	margin: auto;
	min-height: 77.5vh;
}


/*POPUP*/
#fixed_background, #popup_background{
	display: none;
  transition: opacity 1s ease-out;
	z-index: 5;
	background-color: rgba(150,150,150,0.6);
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.edit_window{
	width: 800px;
	min-height: 600px;
	background-color: #fff;
	border: 1px #000 solid;
	border-radius: 5px;
	z-index: 10;
	position: absolute;
	top: calc(50% - 300px);
	left: calc(50% - 300px);
	padding: 10px;
}

.kill{
	background-color:red;
	color:white;
	float:right;
	font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
/*END popup*/

.sidebar-fixed{
	border: solid 1px #757575;
	border-radius: 8px;
	padding: 30px 8px;
	position: fixed;
	top: 250px;
	left: 12px;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.middle{
	clear: both;
	width: calc(70% - 10px);
	margin: 0px 15% !important;
}

.fix-position-left{
	position: fixed;
	top: 250px;
	left: 100px;
}

.wraped{
	margin: 5px;
	padding:10px 15px;
	border-radius:25px;
	border: 1px solid #597645;
}

.awesomplete{
	float: none !important;
	color: #111;
}

.input-select{
	height:100px;
  overflow:scroll;
}

/*BUTTONS*/
.right-button{
	position: relative;
	right: 0;
}

button{
	cursor: pointer;
}

.setings-button{
	margin-left: 20px;
}

.submit{
	text-align: center;
	transition: 0.5s color;
	transition: 0.5s box-shadow;
	margin: 10px;
	padding:8px 12px;
	border-radius:10px;
	border: 1px solid #597645;
	background-color: #6fb143;
	color: #eee;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 30px; 
	box-shadow: 0px 1px 2px 0px #000000;
	width: 200px;
/*	
	min-width: 200px;
	max-width: 200px;
	float: right;
*/
}

.submit:hover{
	transition: 0.5s color;
	transition: 0.5s box-shadow;
	box-shadow: 0px 3px 3px 0px  #000000;
	color:#fff;
	cursor: pointer;
}

.submit:focus {
	transform: translateY(2px);
	transition: 0.2s box-shadow;
	box-shadow: 0px 0px 1px 0px #000000;
	border: 1px solid #3c3c3c;
	outline:0;
}

.white-background{
	background-color: #fff;
	color: #3c3c3c;
}

.white-background:hover, .white-background:focus{
	color: #4e4e4e;
}



.yellow-button{
	background-color: #FDD140;
	color:#000000;
}

.logout{
	width: 120px;
	padding:0px 0px;
}

.yellow-button:hover{
	background-color: #ffdd6b;
	color:#424242;
}

.edit{
	font-size: 18px;
	margin: 5px auto;
	padding: 3px 6px!important;
	border: none;
	color: #1F7231;
	background-color: rgba(0, 0, 0, 0.0);
}

.edit:hover{
	cursor: pointer;
	color: #6FB143;
}


.delete{
	font-size: 16px;
	margin: 5px auto;
	padding: 3px 6px!important;
	border: none;
	color: #f55858;
}

.delete:hover{
	cursor: pointer;
	color: #d90914;
}
/*END BUTTONS*/
 

/*LOGIN*/
.label-center{
	width: 180px;
	margin: auto;
}

.login-box{
	width: 400px;
	padding: 0px;
}

.login-logo{
	width: 300px;
	margin: auto;
}

.login-form{
	width:270px;
	margin:50px auto;
}

.login-div{
	width: 100%;
}

.login-fields, .input-field{
	font-size: 20px !important;
	padding: 10px 0; 
	line-height: 30px; 
/*	font-size: 1em;
*/	border-radius: 25px;
	border: 1px solid #80a16a;
	width: 100% !important;
	background-color: #f5fff7 !important;
	margin:10px auto 20px !important;
	display:block !important;
	float:none !important;
}

.input-field-small{
	font-size: 20px !important;
	padding: 10px 0; 
	line-height: 30px; 
	font-size: 1em;
	border-radius: 25px;
	border: 1px solid #80a16a;
	width: 170px;
	background-color: #f5fff7 !important;
	margin:10px auto 20px !important;
	display:block !important;
}

.input-field-middle{
	font-size: 20px !important;
	padding: 10px 0; 
	line-height: 30px; 
	font-size: 1em;
	border-radius: 25px;
	border: 1px solid #80a16a;
	width: 280px;
	background-color: #f5fff7 !important;
	margin:10px auto 20px !important;
	display:block !important;
}

.input-small, .proizvod-input{
/*	font-size: 20px !important;
*/	padding: 10px 5px; 
	line-height: 30px; 
	font-size: 1em;
	border-radius: 25px;
	border: 1px solid #80a16a;
	background-color: #f5fff7 !important;
/*	margin:10px auto 20px !important;
*/margin:10px auto 20px;
	float:none !important;
}


.button-full{
	width: 100% !important;
	font-size: 20px;
	line-height: 30px; 
}

.button-center{
	display: block;
	margin: auto;
}

#login input:focus {
  border: 3px solid #80a16a !important;
}

#login input::placeholder{
	font-size: 20px;
	color: #3c3c3c;
}


.move-left-50{
	position: relative;
	left: calc(50% - 180px);
}

fieldset {
	border: 1px solid #4b4b4b;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: 'Roboto', sans-serif;
	padding:20px;
	font-size: 18px;
}

legend {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	text-align: center;
}

.loginMsg{
	width: 100%;
	text-align: center;
	color: red;
	font-weight: bold;
}

/*END LOGIN*/


/*HEADER*/
.header{
	height:150px;
	width: 100%;
}


.logo {
	display: inline-block;
	width: calc(100% - 315px);
	margin: auto;
}

.logo img {
	margin-left: 50%;
	width: 270px;
	height: 150px;
}

.login-header{
	float: right;
	padding:10px 15px 0 0;
	width:300px;
	font-size: 24px;
	text-align: right;
}

.menu {
	width: 650px;
	margin: 20px auto;
	clear: right;
}

.menulist {
	margin: 0;
	text-align: center;
}

.menulist li {
	display: inline;
	list-style-type: none;
	vertical-align: middle;
	padding: 0 14px;
}

.menulist li a:link, .menulist li a:visited {
	color: #2B2B2B;
	font-weight: normal;
	font-size: 18px;
	text-decoration: none;
	transition: font-weight 4s ease-in-out;
	transition: 0.5s color;
	letter-spacing: 1px;
}

.menulist li a:hover, .menulist li a:active {
	color: #415a2d; 
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	transition: font-weight 4s ease-in-out;
	transition: 0.5s color;
	letter-spacing: 1px;
}
/*END HEADER*/


/*Index menu*/
.main-menu{
	width: 700px;
	margin: 130px auto;
}

.main-menu-block{
	margin: 20px 0;
}

.main-menu-block a{
	margin: 20px;
}
/*END Index menu*/


/*UNOSI*/
.unos{
	padding-top: 30px;
	min-width: 900px;
	max-width: 1200px;
	display: flex;
	margin: auto;
	color:  white;
}

.unos-big{
	padding-top: 30px;
	min-width: 1300px;
	max-width: 1800px;
	display: flex;
	margin: auto;
	color:  white;
}

.unos-menu{
	width: 270px;
	-ms-flex: 1;  /* IE 10 */  
  flex: 1;
}

.unos-form-container{
	width: 500px;
	min-height: 600px;
	background-color: #6fb143;
	-ms-flex: 2;  /* IE 10 */  
  flex: 2;
  border: solid 5px #fff;
  border-radius: 25px;
  padding: 5px 30px;
}

.forme-unosa{
	width: 100%;
}

.form-inputs{
	width: 100%;
	min-height: 380px;
	display: flex;
}

.left-row, .right-row{
	padding: 20px;
	display: inline-block;
	-ms-flex: 1;  /* IE 10 */  
  flex: 1;
}

.center-row{
	width: 270px;
	margin: auto;
}

.left-3row, .center-3row, .right-3row{
	padding: 20px;
	display: inline-block;
	-ms-flex: 1;  /* IE 10 */  
  flex: 1;
}

.unos-button{
	width: 270px;
	margin: auto;
}

.active-button{
	background-color: #597645;
}

.unos-select{
	margin-top: 30px;
}

.unos-table{
	margin:10px auto;
	background-color: #fff;
	text-align: venter;
	color: #111;
	font-size: 16px;
	width: 100%;
}

.scroll-overflow{
  height: 600px;
  overflow: auto;
  margin: 0px 0px 10px 0px;
}

/*END Unosi*/


/*FOOTER*/
.footer{
	clear: both;
	margin: 80px auto 0 auto;
	height: 40px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	font-family:'Alegreya Sans', sans-serif; 
	font-size: 16px;
	color: #D3F8B4;
}

.footer a:link, a:visited {
	color: #9bd16f;
	text-decoration: none;
	transition: 0.5s color;
	font-family:'Alegreya Sans', sans-serif;
}

.footer a:hover, a:active {
	color: #2B2B2B;
	font-size: 16px;
	text-decoration: none;
	transition: 0.5s color;
	font-family:'Alegreya Sans', sans-serif;
}

#p1 {
	text-align: center;
	color: #3A3A3A;
	clear: both;
	margin: 10px 10px;
}
/*END FOOTER*/

/*UNOS*/
.unos-box{
	
}

.unos-form{

}

.dobavljac-box{
	display: block;
	width: 370px;
	margin: 50px auto;
}

.input-right{
	float:right;
	height:14px; 
	font-size:12px;
	width: 120px;
}

.input-kupac{
	width: 180px;
}

.fakture-izvodi{
	width:80%;
	margin: auto;
}

.fakture-box, .izvodi-box{
	width: 360px;
	margin: 100px 50px;
}

/*END UNOS*/

/*NARUDZBENICA*/
.narudzbenica-general{
	font-size: 20px;
	height: 250px;
	width: 100%;
	display: flex;
}

.porudzbenica-artikli input{
	margin: 10px 10px;
}


.plus{
	margin: 0px;
	display: inline-block;
	transition: 0.5s color;
	transition: 0.5s box-shadow;
	border: 1px solid #597645 !important;
	background-color: #6fb143 !important;
	color: #f4ffe6;
	box-shadow: 0px 1px 2px 0px #000000;
	width: 50px;
}

.plus:hover{
	transition: 0.5s color;
	transition: 0.5s box-shadow;
	box-shadow: 0px 3px 3px 0px  #000000;
	color:#e9e9e9;
	cursor: pointer;
}

.plus:focus {
	transform: translateY(2px);
	transition: 0.2s box-shadow;
	box-shadow: 0px 0px 1px 0px #000000;
	border: 1px solid #3c3c3c;
	outline:0;
}

.plati{
	width: 60px;
	border-radius: 10px;
	margin: 5px 0;
	padding: 3px 12px!important;
	background-color: #6FB143;
	color: #fff;
}

.delete{
	border-radius: 10px;
	margin: 5px 0;
	padding: 3px 12px!important;
	background-color: #f55858;
	color: #fff;
}

.fa{
	font-size: 1.3em;
}

.back-button{
	width: 100px;
}

.redni-broj{
	display: inline-block;
	width: 25px;
	color: #fff;
}
/*End Narudzbenica*/

/*EDIT PROIZVODA*/
.row{
	line-height: 2.8;
	height: 60px;
	width: 400px;
	margin: auto;
}
/*END Edit proizvoda*/

/*PORUDzBINE*/
.filter{
	height: 640px;
	background-color: #6fb143;
	flex: 2;
  border: solid 5px #fff;
  border-radius: 25px;
  padding: 5px 30px;
}

.porudzbine-list{
	min-height: 600px;
	background-color: #6fb143;
	flex: 5;
  border: solid 5px #fff;
  border-radius: 25px;
  padding: 5px 30px;
}

.row-filter{
	min-width: 300px;
	line-height: 2.8;
	height: 60px;
	margin: auto;
}

.filter-field-small {
  padding: 10px 0;
  line-height: 30px;
  font-size: 1em;
  border-radius: 25px;
  border: 1px solid #80a16a;
  width: 200px;
  background-color: #f5fff7 !important;
}

/*END Porudzbine*/

/*EDIT PORUDzBINE*/
.small-zaglavlje{

	display: inline-block;
	text-align: center;
	width: 72px;
	margin: 5px 20px;
	color: #fff;
}

.big-zaglavlje{

	display: inline-block;
	text-align: center;
	width: 370px;
	margin: 5px 15px 5px 50px;
	color: #fff;
}
/*END Edit porudzbine*/

/*STARO*/

/*KARTICA DOBAVLJACA*/
th, td{
	padding: 5px;
	margin: 0px;
	border: 1px solid black;
}

table{
	border-collapse: collapse;
}

.kartica-klijenta{
	width: 750px;
	margin: auto;
}

.tabela-kartica{
	width: 100%;
}

.red{
	width: 9%;
	text-align: center;
}

.naziv{
	width: 18%;
}

/*PAGINATION*/
.pagination-potrazivanja{
	width: 300px;
	color: #1A0000;
	position: absolute;
	right: 250px;
	margin-top: 20px; 
}

.pagination-potrazivanja a{
	color: #1A0000;
}



div.pagination {
	clear:both;
	padding: 3px;
	margin: 3px;
	text-align:center;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #494949;
	
	text-decoration: none; /* no underline */
	color: #494949;
}

div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000;
	box-shadow: 1px 1px #95A885;
	color: #000;
}

div.pagination span.current {
	padding: 5px;
	margin: 2px;
	border: 1px solid #494949;
	
	font-weight: bold;
	background-color: #494949;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;

	color: #c8c8c8;
}
/*END Pagination*/

/*END KARTICA DOBAVLJACA*/


/*SETTINGS (UNOS DOBAVLJACA)*/
.container-div{
	width: 880px;
	margin: 50px auto;
}

.editKupaca{
	display: block;
	float: left;
	margin: 20px 4.5%;
	width: 40%;
}
/*END UNOS DOBAVLJACA*/


@page {
  size: A4;
  margin: 5mm 0 5mm 0;
}


@media print{

    .non-printable { display: none; }

	.header{display: none;}

	html, body {

	    width: 210mm;

	    height: 297mm;

	}

	table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  
}





@media only screen and (max-device-width: 1680px){
	.container{
		width: 90%;
	}
	.input-small{
		width: 6vw;
		margin: 10px 6px !important;
	}

	.proizvod-input{
		width: 22vw;
	}

	.plus{
		width: 3vw;
	}

	.broj{
		width: 4vw;
	}

	.back-button{
		width: 150px;
	}

	.small-zaglavlje{
		width: 6vw;
		margin: 5px 19px 5px 12px;
	}

	.big-zaglavlje{
		width: 21vw;
	}


	/*LOGIN*/
	.login-box {
    padding: 0;
	}

	.login-form {
    margin: 0px auto;
	}


	.footer{
		background-color: #ffffff;
	}
	/*END LOGIN*/

	.unos {
	  min-width: 900px;
	  max-width: 90%;
		width: 80vw;
	}
	.unos-big {
    padding-top: 0px;
  }

  .row-filter {
  	height: 40px;
  }

  .unos-form-container {
    min-height: 500px;
  }

  .form-inputs {
    min-height: 283px;
  }

}


@media only screen and (max-device-width: 1440px){
	.filter{
		height: 590px;
	}	

	.porudzbine-list{
		min-height: 550px;
	}

	.proizvod-input{
		width: 24vw;
	}

	.big-zaglavlje{
		width: 24vw;
	}

	.small-zaglavlje{
		width: 6.5vw;
		margin: 5px 5px 5px 8px;
	}

	.scroll-overflow {
    height: 558px;
  }

	.container{
		width: 90%;
	}

	.main-menu{
		    margin: 50px auto;
	}

	.unos, .unos-big{
		min-width: 90%;
    max-width: 100%;
	}
}


@media only screen and (max-device-width: 1366px){
	.container{
		width: 95vw;
	}
	
	.input-small{
		font-size: 1.2vw !important;
		width: 6.3vw;
		margin: 10px 5px !important;
	}

	.proizvod-input{
		font-size: 1.2vw !important;
		width: 23vw;
	}

	.plus{
		width: 3vw;
		margin: 0px !important;
	}

	.broj{
		width: 4vw;
	}

	.back-button{
		width: 150px;
	}

	.big-zaglavlje{
		width: 22vw;
	}

	.small-zaglavlje{
		width: 6.5vw;
		margin: 5px 10px 5px 12px;
	}

	.unos {
    padding-top: 5px;
  }

  .narudzbenica-general {
  	height: 245px;
  }

	.scroll-overflow {
    height: 470px;
  }

  .filter {
    height: 530px;
	}

	.porudzbine-list {
    min-height: 530px;
	}

	.input-field {
		margin: 0 auto 15px;
	}

	.radio-label{
		font-size: 1.25vw;
		display: inline-block;
		border: solid 1px white;
		width: 45%;
	}

	.radio-label-postarina{
		font-size: 1.25vw;
		display: inline-block;
		border: solid 1px white;
		width: 92%;
	}
}

/*LAPTOP-TABLET*/
@media only screen and (max-device-width: 1160px){
	h1{
		font-size: 1.5em;
		text-align: center !important;
	}

	.unos-form-container {
		padding: 5px 5px;
	}

	.unos-big, .filter, .porudzbine-list{
		display: block;
	}

}







@media only screen and (max-device-width: 768px) {

	.container{
		width: 90%;
	}

/*HEADER*/
	.header{
		height: 200px;
		border-bottom: solid 1px;
		margin-bottom: 80px;
	}

	.logo img {
	    width: 200px;
	    height: 160px;
	}

	.login-logo{
		width: 300px;
	}

	.login-logo img{
		width: 300px;
	}

	.filter{
		height: 800px;
	}

	.menu{
		position: relative;
		top: -60px;
	}

	.menu .menulist li a{
		font-size: 36px;
	}

	.menulist li {
		display: block;
		padding: 5px 0px;
	}
/*END header*/


	.kartica-klijenta{
		width: 100%;
	}

	.dobavljac-box, .fakture-box, .izvodi-box{
		width: 86%;
		clear: both;
		margin: 60px 7%;
	}


	.editKupaca{
		clear: both;
		display: block;
		margin: 20px 15%;
		width: 70%;
	}

	.submit{
		margin-top: 20px;
		font-size: 30px;
	}

	.plus{
		width: 3vw !important;
	}

	.back-button{
		font-size: 1.2em !important;
		width: 150px !important;
	}

/*Kartica klijenta*/
	.kartica-klijenta{
		font-size: 30px;
	}
/**/	

/*LOGIN*/
	.move-left-50{
		left: 0%;
		width: 86%;
		margin: 25% 7%;
	}

	.login-form{
		width: 100%;
		background-color: #fff;
	}
/*END Login*/

/*FOOTER*/
	.footer{
		margin-top: 260px;
		font-size: 25px;
	}
/**/

	fieldset{
		font-size: 36px;
	}

	.input-row{
		padding: 3px;
		margin: 10px 0px;
		height: 50px;
		width: 100%;
		display: block;
		font-size: 38px;
	}

	input{
		margin: 2px;		
	}

	.input-right{
		font-size: 38px;
		height: 38px;
	  min-width: 240px;
	}

	.radio-label{
		font-size: 2.5vw;
		width: 45%;
	}

	.radio-label-postarina{
		font-size: 2.5vw;
		width: 92%;
	}
}

@media only screen and (max-device-width: 425px) {
	body{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	.header{
		height: 250px;
	}

	.logo{
		width: 250px;
	}

	.container, .footer{
		width: 100%;
		font-size: 2em;
	}

	.main-menu{
		width: 90%;
	}

	.submit {
    margin-top: 20px;
    font-size: 1.3em;
    width: 80%;
    margin: 50px auto;
    line-height: 60px;
    display: block;
    border-radius: 50px !important;
	}

	.plus{
		width: 10vw !important;
		border-radius: 40px;
	}

	.back-button{
		padding: 5px;
		font-size: 1em !important;
		width: 170px !important;
	}

	.unos, .unos-menu, .unos-form-container, .form-inputs, .left-row, .center-row, .right-row, .narudzbenica-general, .flex, .porudzbenica-artikli{
		display: block !important;
		width: 95%;
		margin: auto;
	}

	input[type="text"], input[type="text"]::placeholder, input[type="email"], input[type="email"]::placeholder, input[type="password"], input[type="password"]::placeholder, input[type="date"], .login-fields, .filter-field-small{
	    border-radius: 50px !important;
	    font-size: 1em !important;
	    height: 80px !important;
	    line-height: 2em !important;
	    width: 70%;
	}

	input[type="checkbox"], input[type="radio"]{
		font-size: 1.3em !important;
	  height: 60px !important;
	  line-height: 60px !important;
	  width: 50px;
	}

	.input-field, .filter-field-small, select option{
		font-size: 60px !important;
		height: 90px !important;
		border-radius: 50px !important;
/*		width: 1em;
*/	}

	.porudzbine-list, .row{
		width: 90%;
		margin: 30px auto;
	}

	.filter{
		width: 90%;
		margin: 30px auto;
		height: 1070px;
	}

	.porudzbine-list{
		height: 1100px;
	}

	.scroll-overflow {
    height: 1000px;
  }

  .unos-table, .broj{
  	font-size: 1em !important;
  	line-height: 60px;
  	width: auto;
  }

  .narudzbenica-general{
  	height: unset;
  	font-size: 1em;
  }

  .row .input-field-small{
  	width: 320px;
  }

  .radio-label{
		font-size: 4.5vw;
		width: 45%;
	}

	.radio-label-postarina{
		font-size: 4.5vw;
		width: 92%;
	}
}
.toolbox {
	position: fixed;
	left: 80px;
	top: 250px;
	border: 3px solid #c21a0e;
	border-radius: 3px;
	width: 250px; 
	padding: 10px;
	text-align: center;
}
ul {
	list-style: none;
	text-align: left;

}
h1 {
	text-align: center;
}
